.formPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 20px;
}

form {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border: 1px;
  padding: 2vw;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
  color: goldenrod;
  text-transform: uppercase;
}


input[type="name"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="name"]:focus,
textarea:focus {
  border-color: goldenrod;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="email"]:focus,
textarea:focus {
  border-color: goldenrod;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 4vw;
}

.button-form {
  width: 30%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #27aae1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-form:hover {
  background-color: goldenrod;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.response {
  font-size: 16px;
  color: goldenrod;
  text-align: center;
  margin-top: 20px;
}