.logo {
  width: 8vw;
  height: auto;
  position: absolute;
  top: 1vw;
  left: 1vw;
  margin: 15px;
  z-index: 10;
  opacity: 1;
}

@media (max-width: 768px) {
  .logo {
    width: 60px;
    margin: 20px;

  }
}